.main-container {
    padding: 2rem;

    .alert{
        margin-top: 1rem;
    }
    
    .form-group{
        margin-top: 1rem;

    }
    .button-group{
        margin-top: 1rem;
    }
    
    .checkbox{
        margin-top: 1rem;
    }
}